.article {
  padding: 50px 0;

  background-color: rgba(255, 255, 255, 0.3);
  border-top: 5px solid rgba(255, 255, 255, .5);
  border-bottom: 5px solid rgba(255, 255, 255, .5);
}

.article img {
  border: 8px solid #FFF;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .7);
}

.header-content-inner, .header-content-inner p{
  color: #333 !important;
}

.navbar-default .nav > li>a, .navbar-default .nav>li>a:focus {
  color: rgba(0, 0, 0, .7);
}

.navbar-default .navbar-header .navbar-brand {
  color: rgba(0, 0, 0, .7);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-color: rgba(255, 255, 255, .5);
  color: rgba(0, 0, 0, .5);
}

.navbar {
  min-height: 90px;
}

.navbar-brand {
  margin-top: -10px;
}
